footer{
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px #666 solid;
    padding: 15px 0;
}
footer ul li{
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;
}


@media only screen and (max-width:767px) {
   footer{
    display: block;
    text-align: center;
   }
    footer ul li{
        margin: 0px;
    }
    footer ul{
        margin: 10px;
    }

}