.about-section {
    margin: 100px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-images {
    flex-basis: 40%;
    position: relative;
}

.about-images img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.about-content {
    flex-basis: 56%;
}
.about-images .play-icon{
    width: 60px;
    margin-bottom: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.about-content h2{
    font-size: 20px;
    font-weight: 600;
    /* max-width: 400px; */
    margin-bottom: 10px;
}
.about-content h3{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}
.about-content p{
    font-size: 14px;
    font-size: 400;
    margin-bottom: 10px;
}

@media only screen and (max-width:767px) {
    .about-section{
        flex-direction: column;
        margin: 10px auto;
        
    }
    .about-images{
        flex-basis: 100%;
        order: 2;
    }
    
}