.programs-section {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px auto;
}

.program {
    flex-basis: 31%;
    position: relative;

}

.program img {
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    /* height: 100%; */
}

.caption {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 4px;
    right: 0;
    background-color: rgba(0, 15, 152, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    opacity: 0;
    padding-top: 70%;
    transition: all .4s;

}

.caption img {
    width: 80px;
    margin-bottom: 10px;
}

.program:hover .caption {
    opacity: 1;
    padding-top: 0;
    transition: all .4s;

}

@media only screen and (max-width:767px) {
    .programs-section {
        /* display: block; */
        flex-direction: column;
    }

    .program {
        flex-basis: 100%;
        margin: 10px auto;
    }
}